In [1]:
import pandas as pd
from pandas import read_csv
import os

In [2]:
os.chdir('/Users/f67f911/Desktop/Hourglass_WX/Data/Cleaned')

In [4]:
# Upload the complete data
seasonal_df = read_csv('seasonal_swe_density.csv', header=0, index_col=0)
seasonal_df.head()

    Timestamp  swe  SnowDepth_m  density  day  labels
0  2021-10-01  0.0          0.0      NaN    1  Oct 01
1  2021-10-02  0.0          0.0      NaN    2  Oct 02
2  2021-10-03  0.0          0.0      NaN    3  Oct 03
3  2021-10-04  0.0          0.0      NaN    4  Oct 04
4  2021-10-05  0.0          0.0      NaN    5  Oct 05

## Extract the flight date information for the delta snow density

In [5]:
Nov24 = seasonal_df[seasonal_df['Timestamp'] == '2021-11-24']
Nov24

     Timestamp     swe  SnowDepth_m   density  day  labels
54  2021-11-24  160.38     0.636829  0.251842   24  Nov 24

In [6]:
Jan09 = seasonal_df[seasonal_df['Timestamp'] == '2022-01-09']
Jan09

      Timestamp      swe  SnowDepth_m   density  day  labels
100  2022-01-09  304.219        1.101  0.276312    9  Jan 09

In [7]:
Jan24 = seasonal_df[seasonal_df['Timestamp'] == '2022-01-24']
Jan24

      Timestamp      swe  SnowDepth_m   density  day  labels
115  2022-01-24  326.608        1.164  0.280591   24  Jan 24

In [8]:
Feb12 = seasonal_df[seasonal_df['Timestamp'] == '2022-02-12']
Feb12

      Timestamp      swe  SnowDepth_m   density  day  labels
134  2022-02-12  352.355     1.158792  0.304071   12  Feb 12

In [9]:
Feb18 = seasonal_df[seasonal_df['Timestamp'] == '2022-02-18']
Feb18

      Timestamp     swe  SnowDepth_m   density  day  labels
140  2022-02-18  391.12     1.385333  0.282329   18  Feb 18

In [10]:
Mar24 = seasonal_df[seasonal_df['Timestamp'] == '2022-03-24']
Mar24

      Timestamp      swe  SnowDepth_m   density  day  labels
174  2022-03-24  481.055     1.519467  0.316595   24  Mar 24

In [11]:
Mar25 = seasonal_df[seasonal_df['Timestamp'] == '2022-03-25']
Mar25

      Timestamp      swe  SnowDepth_m   density  day  labels
175  2022-03-25  481.055     1.492273  0.322364   25  Mar 25

In [12]:
Apr07 = seasonal_df[seasonal_df['Timestamp'] == '2022-04-07']
Apr07

      Timestamp      swe  SnowDepth_m   density  day  labels
188  2022-04-07  487.494     1.405471  0.346855    7  Apr 07

In [13]:
May05 = seasonal_df[seasonal_df['Timestamp'] == '2022-05-05']
May05

      Timestamp      swe  SnowDepth_m   density  day  labels
216  2022-05-05  588.919     1.625778  0.362238    5  May 05

In [14]:
May10 = seasonal_df[seasonal_df['Timestamp'] == '2022-05-10']
May10

      Timestamp      swe  SnowDepth_m   density  day  labels
221  2022-05-10  616.152     1.708444  0.360651   10  May 10

In [15]:
May17 = seasonal_df[seasonal_df['Timestamp'] == '2022-05-17']
May17

      Timestamp      swe  SnowDepth_m   density  day  labels
228  2022-05-17  616.152     1.468091  0.419696   17  May 17